<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
  crossorigin="anonymous"
/>
<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{product.price}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{product.rating}}/10</h6>
    <p class="card-text">{{product.qty}}</p>
    <p class="card-text">Available:{{product.availaability}}</p>
    <a href="/myapp/list/" class="card-link btn btn-dark">Back</a>
  </div>
</div>
